:root {
  --transition: all 0.3s ease-in;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: hsl(0, 0%, 19%);
}

ul {
  list-style-type: none;
}

.logo {
  height: 50px;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 90px;
  background: black;
}

.menu-icon {
  font-size: 1.5em;
  background: transparent;
  border-color: transparent;
  color: white;
  cursor: pointer;
  transition: var(--transition);
}

.menu-icon:hover {
  background: grey;
  transform: rotate(90deg);
}

.links-container {
  /* border:1px solid white; */
  padding: 15px;
}

.links {
  display: flex;
}

.links a{
  text-decoration: none;
  color: white;
  margin: 0.5rem 0.5rem;
  text-transform: uppercase;
  font-weight:bold;
}